<li>
	{{id}}. {{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Gone!{{else}}Devour it!{{/if}}
	</button>
{{!-- 
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
